spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nbcam_assignment
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    #        default_batch_fetch_size: 100
    defer-datasource-initialization: true

jwt:
  secret:
    key: IfthisgetsstolenitsabigproblemIfthelengthistooshortthesecurityisnotsufficientsoanerroroccurs